:root {
  font-family: "Poppins", sans-serif; }

body {
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh; }

.container {
  width: 1110px;
  min-height: 560px;
  max-height: 620px;
  display: flex;
  justify-content: space-between; }

.presentation {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .presentation__title {
    color: white;
    font-size: 50px;
    font-weight: 700; }
  .presentation__text {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  min-height: 560px; }
  .form__try-it {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #6055a5;
    color: white;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
    margin-bottom: 30px; }
    .form__try-it span {
      font-weight: 600; }
    .form__try-it:hover {
      cursor: pointer; }
    .form__try-it:active {
      transform: translateY(4px);
      box-shadow: 0px 4px 0px 0px rgba(62, 60, 73, 0.25);
      transition: 100ms; }
  .form__container {
    background-color: white;
    min-height: 85%;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25); }
  .form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    margin: 40px; }
  .form__control {
    height: 54px;
    position: relative; }
    .form__control input {
      display: block;
      padding: 0 30px;
      width: calc(99.8% - 60px);
      height: 99%;
      border-radius: 5px;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      border: 1px solid #b9b6d3; }
      .form__control input:focus {
        border: 1px solid #3e3c49; }
        .form__control input:focus::placeholder {
          color: #3e3c49; }
    .form__control i {
      visibility: hidden;
      position: absolute;
      top: 15px;
      right: 20px; }
  .form small {
    display: none;
    text-align: right;
    font-size: 11px;
    color: #ff7a7a;
    font-style: italic;
    font-weight: 600;
    height: 30px;
    transform: translateY(-1px); }
  .form__btn {
    height: 54px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: #38cc8c;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(38, 136, 93, 0.7); }
    .form__btn:hover {
      cursor: pointer; }
    .form__btn:active {
      background-color: #6ee2b0;
      transform: translateY(2.5px);
      box-shadow: 0px 2.5px 0px 0px rgba(64, 189, 135, 0.7);
      transition: 100ms; }
  .form__terms {
    text-align: center;
    color: #b9b6d3;
    font-weight: 600;
    font-size: 11.2px;
    margin-top: -17px;
    height: 30px; }
    .form__terms a {
      color: #ff7a7a;
      text-decoration: none;
      font-weight: 700; }
      .form__terms a:hover {
        cursor: pointer; }

.form__control.error input {
  border: 2px solid #ff7a7a; }
  .form__control.error input::placeholder {
    color: #ff7a7a; }
.form__control.error i {
  visibility: visible; }
.form__control.error small {
  display: block;
  margin: 3px 0; }

.form__control.success input {
  border: 2px solid #38cc8c; }

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -3vh; }
  .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=style.css.map */
