:root {
  font-family: "Poppins", sans-serif; }

body {
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 767.9px) {
    body {
      background-image: url("../images/bg-intro-mobile.png"); } }

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw; }
  @media (max-width: 767.9px) {
    main {
      height: 1000px;
      margin: 0 auto;
      max-width: 500px;
      min-width: 375px; } }

.container {
  display: flex;
  justify-content: space-between;
  max-height: 620px;
  max-width: 1110px;
  min-height: 560px;
  width: 90%; }
  @media (max-width: 767.9px) {
    .container {
      flex-direction: column;
      justify-content: space-around;
      transform: translateY(-5vh); } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      min-height: 50%;
      width: 90%; } }

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%; }
  @media (max-width: 767.9px) {
    .presentation {
      height: 50%;
      text-align: center;
      width: fit-content; } }
  .presentation__title {
    color: white;
    font-size: 50px;
    font-weight: 700; }
    @media (max-width: 767.9px) {
      .presentation__title {
        font-size: 30px;
        line-height: 35px;
        margin-top: 10px; } }
  .presentation__text {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px; }
    @media (max-width: 767.9px) {
      .presentation__text {
        margin: 30px 0; } }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 560px;
  width: 49%; }
  @media (max-width: 767.9px) {
    .form {
      justify-content: stretch;
      margin: auto;
      height: 500px;
      width: 90%; } }
  .form__try-it {
    background-color: #6055a5;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    height: 60px;
    margin-bottom: 30px; }
    @media (max-width: 767.9px) {
      .form__try-it {
        font-size: 16px;
        height: 200px;
        margin-top: 40px;
        padding: 20px 50px; } }
    .form__try-it span {
      font-weight: 600; }
    .form__try-it:hover {
      cursor: pointer; }
    .form__try-it:active {
      box-shadow: 0px 4px 0px 0px rgba(62, 60, 73, 0.25);
      transform: translateY(4px);
      transition: 100ms; }
  .form__container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
    min-height: 85%; }
    @media (max-width: 767.9px) {
      .form__container {
        margin-bottom: 30px;
        min-height: 440px; } }
  .form__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    min-height: 80%; }
    @media (max-width: 767.9px) {
      .form__inputs {
        margin: 18px 22px; } }
  .form__control {
    height: 56px;
    position: relative; }
    .form__control input {
      border: 1px solid #b9b6d3;
      border-radius: 5px;
      display: block;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      height: 99%;
      padding: 0 30px;
      width: calc(99.8% - 60px); }
      .form__control input:focus {
        border: 1px solid #3e3c49; }
        .form__control input:focus::placeholder {
          color: #3e3c49; }
    .form__control i {
      position: absolute;
      right: 20px;
      top: 15px;
      visibility: hidden; }
  .form small {
    color: #ff7a7a;
    display: none;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    height: 30px;
    text-align: right;
    transform: translateY(-1px); }
  .form__btn {
    background-color: #38cc8c;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(38, 136, 93, 0.7);
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 54px;
    width: 100%; }
    .form__btn:hover {
      cursor: pointer; }
    .form__btn:active {
      background-color: #6ee2b0;
      box-shadow: 0px 2.5px 0px 0px rgba(64, 189, 135, 0.7);
      transform: translateY(2.5px);
      transition: 100ms; }
  .form__terms {
    color: #b9b6d3;
    font-size: 11.2px;
    font-weight: 600;
    height: 30px;
    margin-top: -17px;
    text-align: center; }
    @media (max-width: 767.9px) {
      .form__terms {
        line-height: 20px;
        margin: 0 40px;
        transform: translateY(-7px); } }
    .form__terms a {
      color: #ff7a7a;
      font-weight: 700;
      text-decoration: none; }
      .form__terms a:hover {
        cursor: pointer; }

.form__control.error input {
  border: 2px solid #ff7a7a; }
  .form__control.error input::placeholder {
    color: #ff7a7a; }
.form__control.error i {
  visibility: visible; }
.form__control.error small {
  display: block;
  margin: 3px 0; }

.form__control.success input {
  border: 2px solid #38cc8c; }

.attribution {
  font-size: 11px;
  margin-top: -3vh;
  text-align: center; }
  @media (max-width: 767.9px) {
    .attribution {
      margin: 0 auto;
      transform: translateY(-3vh); } }
  .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=style.css.map */
