$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$font-family: "Poppins", sans-serif;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $red;
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
}

.container {
  width: 1110px;
  height: 560px;
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: white;
    font-size: 50px;
    font-weight: 700;
  }

  &__text {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;

  &__try-it {
    font-family: $font-family;
    font-size: 15px;
    background-color: $blue;
    color: white;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
    & span {
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translateY(4px);
      box-shadow: 0px 4px 0px 0px rgba(62, 60, 73, 0.25);
      transition: 100ms;
    }
  }

  &__container {
    background-color: white;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76%;
    margin: 40px;
  }

  &__first-name,
  &__last-name,
  &__email,
  &__password,
  &__submit {
    height: 54px;
  }

  &__first-name,
  &__last-name,
  &__email,
  &__password {
    border: 1px solid $grayish-blue;
    border-radius: 5px;
    font-family: $font-family;
    font-weight: 600;
    padding-left: 30px;
    outline: none;
    &:focus {
      border: 1px solid $dark-blue;
      &::placeholder {
        color: $dark-blue;
      }
    }
  }

  &__submit {
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: $green;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(38, 136, 93, 0.7);
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translateY(2.5px);
      box-shadow: 0px 2.5px 0px 0px rgba(38, 136, 93, 0.7);
      transition: 100ms;
    }
  }

  &__terms {
    text-align: center;
    color: $grayish-blue;
    font-weight: 600;
    font-size: 11.2px;
    margin-top: -16px;
    & a {
      color: $red;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -10vh;
  & a {
    color: hsl(228, 45%, 44%);
  }
}
