$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$green-ligth: hsl(154, 67%, 66%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

$font-family: "Poppins", sans-serif;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $red;
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 100vh;
}

.container {
  width: 1110px;
  min-height: 560px;
  max-height: 620px;
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: white;
    font-size: 50px;
    font-weight: 700;
  }

  &__text {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  min-height: 560px;

  &__try-it {
    font-family: $font-family;
    font-size: 15px;
    background-color: $blue;
    color: white;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
    margin-bottom: 30px;
    & span {
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translateY(4px);
      box-shadow: 0px 4px 0px 0px rgba(62, 60, 73, 0.25);
      transition: 100ms;
    }
  }

  &__container {
    background-color: white;
    min-height: 85%;
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(62, 60, 73, 0.25);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
    margin: 40px;
  }

  &__control {
    height: 54px;
    position: relative;

    & input {
      display: block;
      padding: 0 30px;

      width: calc(99.8% - 60px);
      height: 99%;
      border-radius: 5px;
      font-family: $font-family;
      font-weight: 600;
      border: 1px solid $grayish-blue;

      &:focus {
        border: 1px solid $dark-blue;
        &::placeholder {
          color: $dark-blue;
        }
      }
    }
    & i {
      visibility: hidden;
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  small {
    display: none;
    text-align: right;
    font-size: 11px;
    color: $red;
    font-style: italic;
    font-weight: 600;
    height: 30px;
    transform: translateY(-1px);
  }

  &__btn {
    height: 54px;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: $green;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(38, 136, 93, 0.7);
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: $green-ligth;
      transform: translateY(2.5px);
      box-shadow: 0px 2.5px 0px 0px rgba(64, 189, 135, 0.7);
      transition: 100ms;
    }
  }

  &__terms {
    text-align: center;
    color: $grayish-blue;
    font-weight: 600;
    font-size: 11.2px;
    margin-top: -17px;
    height: 30px;
    & a {
      color: $red;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form__control.error {
  & input {
    border: 2px solid $red;
    &::placeholder {
      color: $red;
    }
  }
  & i {
    visibility: visible;
  }
  & small {
    display: block;
    margin: 3px 0;
  }
}

.form__control.success {
  & input {
    border: 2px solid $green;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -3vh;
  & a {
    color: hsl(228, 45%, 44%);
  }
}
